<h1 class="box-content-addproduct--header">
    Add Product
</h1>
<div id="message"></div>
<form id="addProductForm" enctype="multipart/form-data">
    <div style="display: flex;">
        <div class="box-content-addproduct-form">
            <h3 class="box-content-addproduct-form--header">Product Name</h3>
            <input type="text" name="name" placeholder="Product Name" required>
        </div>
        <div class="box-content-addproduct-form">
            <h3 class="box-content-addproduct-form--header">Price</h3>
            <input type="number" name="price" placeholder="Price $" required>
        </div>
    </div>
    <div class="box-content-addproduct-form">
        <h3 class="box-content-addproduct-form--header">Description</h3>
        <textarea name="description" required></textarea>
    </div>
    <div class="box-content-addproduct-form">
        <h3 class="box-content-addproduct-form--header">Category</h3>
        <select name="category">
            <% categories.forEach(category => { %>
                <option value="<%= category._id %>">
                    <%= category.name %>
                </option>
            <% }); %>
        </select>
    </div>
    <div class="box-content-addproduct-form">
        <h3 class="box-content-addproduct-form--header">Serving Options (comma-separated)</h3>
        <input type="text" name="servingOptions" placeholder="e.g., S, M, L">
    </div>
    <div class="box-content-addproduct-form">
        <h3 class="box-content-addproduct-form--header">Grind</h3>
        <select name="grind">
            <option value="Whole Bean">Whole Bean</option>
            <option value="Ground">Ground</option>
        </select>
    </div>
    <div class="box-content-addproduct-form">
        <h3 class="box-content-addproduct-form--header">Roast</h3>
        <select name="roast">
            <option value="Light">Light</option>
            <option value="Medium">Medium</option>
            <option value="Dark">Dark</option>
        </select>
    </div>
    <div class="box-content-addproduct-form">
        <h3 class="box-content-addproduct-form--header">Origin</h3>
        <input type="text" name="origin" placeholder="Origin">
    </div>
    <div class="box-content-addproduct-form">
        <h3 class="box-content-addproduct-form--header">Ingredients (comma-separated)</h3>
        <input type="text" name="ingredients" placeholder="e.g., Ingredient 1, Ingredient 2">
    </div>
    <div class="box-content-addproduct-form">
        <h3 class="box-content-addproduct-form--header">Status</h3>
        <select name="status">
            <option value="On stock">On Stock</option>
            <option value="Out of stock">Out of Stock</option>
            <option value="Suspended">Suspended</option>
        </select>
    </div>
    <div class="box-content-addproduct-form">
        <h3 class="box-content-addproduct-form--header">Images</h3>
        <input type="file" name="images" multiple required>
    </div>
    <div class="box-content-addproduct--button">
        <button type="submit" class="detail-create">CREATE PRODUCT</button>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('#addProductForm').submit(function (event) {
            event.preventDefault(); // Prevent default form submission

            var formData = new FormData(this);

            $.ajax({
                url: '/admin/products/add',
                method: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    // Display success message
                    $('#message').html('<p class="success-message">' + response.message + '</p>');
                    // Optionally clear the form
                    $('#addProductForm')[0].reset();
                },
                error: function (error) {
                    // Display error message
                    $('#message').html('<p class="error-message">' + error.responseJSON.error + '</p>');
                }
            });
        });
    });
</script>