<div class="box-content-createAdmin">
    <h1 class="box-content-createAdmin--header">Create admin</h1>
    <div id="message"></div>
    <form id="createAdminForm">
        <div class="box-content-createAdmin-form">
            <input type="email" name="email" required>
            <h3 class="box-content-createAdmin-form--header">Email</h3>
        </div>
        <div class="box-content-createAdmin-form">
            <input type="password" name="password" required>
            <h3 class="box-content-createAdmin-form--header">Password</h3>
        </div>
        <div class="box-content-createAdmin-form">
            <input type="password" name="confirmPassword" required>
            <h3 class="box-content-createAdmin-form--header">Confirm Password</h3>
        </div>
        <div style="text-align: center;">
            <button type="submit" class="box-content-createAdmin-button-change">CREATE</button>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('#createAdminForm').submit(function (event) {
            event.preventDefault();

            $.ajax({
                url: '/admin/create-admin',
                method: 'POST',
                data: $(this).serialize(),
                success: function (response) {
                    $('#message').html('<p class="success-message">' + response.message + '</p>');
                    $('#createAdminForm')[0].reset();
                },
                error: function (error) {
                    $('#message').html('<p class="error-message">' + error.responseJSON.error + '</p>');
                }
            });
        });
    });
</script>