<div class="box-content-dashboard">
    <h1 class="box-content-dashboard--header">General Statistics</h1>
    <ul class="box-content-dashboard--list">
        <li class="box-content-dashboard--item">
            <div class="box-content-dashboard--icon color-black">
                <i class="fa-solid fa-couch"></i>
            </div>
            <div class="box-content-dashboard--content">
                <span class="box-content-dashboard--text">Total users</span>
                <span class="box-content-dashboard--quantity"><%= totalUsers %></span>
            </div>
        </li>
        <li class="box-content-dashboard--item">
            <div class="box-content-dashboard--icon color-green">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
            <div class="box-content-dashboard--content">
                <span class="box-content-dashboard--text">Total products</span>
                <span class="box-content-dashboard--quantity"><%= totalProducts %></span>
            </div>
        </li>
    </ul>
</div>