<div class="AHomepage-box">
    <div class="box-sidebar">
        <h1 class="box-sidebar--header">
            <i class="fa-solid fa-network-wired"></i> Masterial Dashboard 2
        </h1>
        <ul class="box-sidebar--list">
            <li class="box-sidebar--item">
                <a href="" class="box-sidebar--item-link">
                    <i class="fa-solid fa-gauge"></i>
                    Dashboard
                </a>
            </li>
            <li class="box-sidebar--item">
                <a href="" class="box-sidebar--item-link">
                    <i class="fa-solid fa-user"></i>
                    Users
                </a>
            </li>
            <li class="box-sidebar--item">
                <a href="" class="box-sidebar--item-link">
                    <i class="fa-solid fa-cart-shopping"></i>
                    Products
                </a>
            </li> 
            <li class="box-sidebar--item">
                <a href="" class="box-sidebar--item-link">
                    <i class="fa-solid fa-cart-plus"></i>
                    Add New Products
                </a>
            </li> 
        </ul>
        <h3 class="box-sidebar-setAccout--header">ACCOUNT PAGES</h3>
        <ul class="box-sidebar--list">
            <li class="box-sidebar--item">
                <a href="" class="box-sidebar--item-link">
                    Profile
                </a>
            </li>
            <li class="box-sidebar--item">
                <a href="" class="box-sidebar--item-link">
                    Create new admin
                </a>
            </li>
            <li class="box-sidebar--item">
                <a href="" class="box-sidebar--item-link">
                    Logout
                </a>
            </li>
        </ul>
    </div>
    <div class="box-content">
        <button class="box-content-button">RETURN TO LOG-IN PAGE</button>
        <div class="box-content-dashboard">
            <h1 class="box-content-dashboard--header">General Statistics</h1>
            <ul class="box-content-dashboard--list">
                <li class="box-content-dashboard--item">
                    <div class="box-content-dashboard--icon color-black">
                        <i class="fa-solid fa-couch"></i>
                    </div>
                    <div class="box-content-dashboard--content">
                        <span class="box-content-dashboard--text">Total users</span>
                        <span class="box-content-dashboard--quantity">50</span>
                    </div>
                </li>
                <li class="box-content-dashboard--item">
                    <div class="box-content-dashboard--icon color-green">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                    <div class="box-content-dashboard--content">
                        <span class="box-content-dashboard--text">Total products</span>
                        <span class="box-content-dashboard--quantity">50</span>
                    </div>
                </li>                   
            </ul>
        </div>
    </div>
</div>