<div class="box-content-AProfile">
    <span style="margin-bottom: 20px;">Admin Email: <%= admin.email %></span>
</div>
<div style="text-align: center;">
    <a href="/admin/change-password"><button class="box-content-button-change">CHANGE PASSWORD</button></a>
</div>