<div class="AHomepage-box AHomepage-box-color">
    <div class="box-sidebar">
        <h1 class="box-sidebar--header">
            <i class="fa-solid fa-network-wired"></i> Masterial Dashboard 2
        </h1>
        <ul class="box-sidebar--list">
            <li class="box-sidebar--item">
                <a href="" class="box-sidebar--item-link">
                    <i class="fa-solid fa-gauge"></i>
                    Dashboard
                </a>
            </li>
            <li class="box-sidebar--item">
                <a href="" class="box-sidebar--item-link">
                    <i class="fa-solid fa-user"></i>
                    Users
                </a>
            </li>
            <li class="box-sidebar--item">
                <a href="" class="box-sidebar--item-link">
                    <i class="fa-solid fa-cart-shopping"></i>
                    Products
                </a>
            </li> 
            <li class="box-sidebar--item">
                <a href="" class="box-sidebar--item-link">
                    <i class="fa-solid fa-cart-plus"></i>
                    Add New Products
                </a>
            </li> 
        </ul>
        <h3 class="box-sidebar-setAccout--header">ACCOUNT PAGES</h3>
        <ul class="box-sidebar--list">
            <li class="box-sidebar--item">
                <a href="" class="box-sidebar--item-link">
                    Profile
                </a>
            </li>
            <li class="box-sidebar--item">
                <a href="" class="box-sidebar--item-link">
                    Create new admin
                </a>
            </li>
            <li class="box-sidebar--item">
                <a href="" class="box-sidebar--item-link">
                    Logout
                </a>
            </li>
        </ul>
    </div>
    <div class="box-content">
        <button class="box-content-button">RETURN TO LOG-IN PAGE</button>
        <div class="box-content-product">
            <div class="box-content-product-temp">
                <button id="sortButton">
                    SORT <i class="fa-solid fa-arrow-down-wide-short"></i>
                </button>
                <div class="box-content-product-temp-listS hidden" id="dropdownMenu">
                    <span class="box-content-product-temp-listS--item">Name</span>
                    <span class="box-content-product-temp-listS--item">Price</span>
                    <span class="box-content-product-temp-listS--item">Creation time</span>
                </div>
            </div>
            <div class="box-content-product--header">
                <span class="box-content-product--header-name">
                    Name
                </span>
                <span class="box-content-product--header-cost">
                    Cost
                </span>
                <span class="box-content-product--header-date">
                    Creation time
                </span>
            </div>
            <ul class="box-content-product--list">
                <li class="box-content-product--item">
                    <div class="box-content-product--item-name">
                        <img src="/img/avatar.jpg" height="36" width="36" alt="">
                        <a href="">Coffee</a>
                    </div>
                    
                    <span class="box-content-product--item-cost">
                        $7
                    </span>
                    <span class="box-content-product--item-date">
                        Monday, August 5, 2024
                    </span>
                </li>
                <li class="box-content-product--item">
                    <div class="box-content-product--item-name">
                        <img src="/img/avatar.jpg" height="36" width="36" alt="">
                        <a href="">Coffee</a>
                    </div>
                    
                    <span class="box-content-product--item-cost">
                        $7
                    </span>
                    <span class="box-content-product--item-date">
                        Monday, August 5, 2024
                    </span>
                </li>
                <li class="box-content-product--item">
                    <div class="box-content-product--item-name">
                        <img src="/img/avatar.jpg" height="36" width="36" alt="">
                        <a href="">Coffee</a>
                    </div>
                    
                    <span class="box-content-product--item-cost">
                        $7
                    </span>
                    <span class="box-content-product--item-date">
                        Monday, August 5, 2024
                    </span>
                </li>
                <li class="box-content-product--item">
                    <div class="box-content-product--item-name">
                        <img src="/img/avatar.jpg" height="36" width="36" alt="">
                        <a href="">Coffee</a>
                    </div>
                    
                    <span class="box-content-product--item-cost">
                        $7
                    </span>
                    <span class="box-content-product--item-date">
                        Monday, August 5, 2024
                    </span>
                </li>
                <li class="box-content-product--item">
                    <div class="box-content-product--item-name">
                        <img src="/img/avatar.jpg" height="36" width="36" alt="">
                        <a href="">Coffee</a>
                    </div>
                    
                    <span class="box-content-product--item-cost">
                        $7
                    </span>
                    <span class="box-content-product--item-date">
                        Monday, August 5, 2024
                    </span>
                </li>
            </ul>
            <div class="box-content-product--pagination">
                <button>PREV</button>
                <span>1/3</span>
                <button>NEXT</button>
            </div>
        </div>
    </div>
</div>