<!-- views/layouts/sidebar.ejs -->
<div class="box-sidebar">
    <h1 class="box-sidebar--header">
        <i class="fa-solid fa-network-wired"></i> CoffeeAM Admin
    </h1>
    <ul class="box-sidebar--list">
        <li class="box-sidebar--item">
            <a href="/admin/dashboard" class="box-sidebar--item-link">
                <i class="fa-solid fa-gauge"></i>
                Dashboard
            </a>
        </li>
        <li class="box-sidebar--item">
            <a href="/admin/users" class="box-sidebar--item-link">
                <i class="fa-solid fa-user"></i>
                Users
            </a>
        </li>
        <li class="box-sidebar--item">
            <a href="/admin/products" class="box-sidebar--item-link">
                <i class="fa-solid fa-cart-shopping"></i>
                Products
            </a>
        </li>
        <li class="box-sidebar--item">
            <a href="/admin/products/add" class="box-sidebar--item-link">
                <i class="fa-solid fa-cart-plus"></i>
                Add New Products
            </a>
        </li>
        <li class="box-sidebar--item">
            <a href="/admin/categories" class="box-sidebar--item-link">
                <i class="fa-solid fa-bars"></i>
                Categories
            </a>
        </li>
        <li class="box-sidebar--item">
            <a href="/admin/orders" class="box-sidebar--item-link">
                <i class="fa-solid fa-receipt"></i>
                Orders
            </a>
        </li>
    </ul>
    <h3 class="box-sidebar-setAccout--header">Account</h3>
    <ul class="box-sidebar--list">
        <li class="box-sidebar--item">
            <a href="/admin/profile" class="box-sidebar--item-link">
                Profile
            </a>
        </li>
        <li class="box-sidebar--item">
            <a href="/admin/create-admin" class="box-sidebar--item-link">
                Create new admin
            </a>
        </li>
        <li class="box-sidebar--item">
            <form action="/logout" method="POST">
                <button type="submit" class="box-sidebar--item--button">Logout</button>
            </form>
        </li>
    </ul>
</div>