<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffeeno</title>
    <link rel="stylesheet" href="profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/assets/font/fontawesome-free-6.5.1-web/fontawesome-free-6.5.1-web/css/all.min.css" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

    <div class="headerP">
        <div class="grid">
            <div class="">
                <h1>CoffeeAM</h1>
                <span>Orders</span>
            </div>
            <div>
                <div class="userSet">
                    <i class="fa-regular fa-user"></i>
                    <div class="listSet">
                        <span>Profile</span>
                        <span>Log out</span>
                    </div>
                </div>
                
                <button>
                    GO TO STORE
                </button>
            </div>
        </div>
    </div>
    <%- body %> <!-- Content from each page will be injected here -->
    <div class="footerP">
        <span class="boxFooter">Refund policy</span>
        <span class="boxFooter">Shipping policy</span>
        <span class="boxFooter">Privacy policy</span>
        <span class="boxFooter">Term of service</span>
        <span class="boxFooter">Cancellation policy</span>
    </div>
</body>
</html>
