<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoffeeAM</title>
    <link rel="stylesheet" href="/css/detail.css">
    <link rel="stylesheet" href="/css/error.css">
    <link rel="stylesheet" href="/css/shop.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="/css/blog.css">
     <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="/CPassword.css">
    <link rel="stylesheet" href="/css/error.css">
    <link rel="stylesheet" href="/css/orderItem.css">
    <link rel="stylesheet" href="/css/order.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/assets/font/fontawesome-free-6.5.1-web/fontawesome-free-6.5.1-web/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>

<body>
    <div class="header">
        <div class="grid">
            <div class="shopCoffe">
                <div class="logo">
                    <img src="/img/logo-coffeeam.png" alt="">
                </div>
                <form class="formSearch" action="/products" method="GET">
                    <input type="text" name="search" placeholder="What are you looking for?">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>

                <% if (isAuthenticated) { %>
                <div class="cart">
                    <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                <% } %>
            </div>

            <div class="box">
                <ul class="menuList">
                    <li class="bold menuItemList" style="width: 80px;"><a href="/" class="highlight cItem">Home</a>
                    </li>
                    <li class="bold menuItemList" style="width: 80px;"><a href="/products" class="highlight cItem">Shop</a>
                    </li>
                    <li class="bold menuItemList" style="width: 80px;"><a href="/products?category=Coffee" class="highlight cItem">Coffee</a>
                    </li>
                    <li class="bold menuItemList" style="width: 80px;"><a href="/products?category=Tea" class="highlight cItem">Tea</a>
                    </li>
                    <li class="bold menuItemList" style="width: 80px;"><a href="/products?category=Food" class="highlight cItem">Food</a>
                    </li>
                    <li class="bold menuItemList"><a href="/products?category=juice" class="highlight cItem">Juice</a>
                    </li>
                </ul>
                <ul class="menuList">
                    <% if (isAuthenticated) { %>
                        <li class="normal ">
                            <a href="/profile" class="blur cItem">
                                <%= user.first_name %> <%= user.last_name %>
                            </a>
                        </li>
                        <li class="normal">
                            <div class="userSet">                
                                <i class="fa-regular fa-user icon"></i>
                                <div class="listSet">
                                    <div class="infoSet">
                                    <i class="fa-regular fa-user"></i>
                                    <div class="boxTemp">
                                        <span>name</span>
                                        <span style="color:#707070">com2109nhanle@gmail.com</span>
                                    </div>
                                </div>
                                <ul class="lSetting">
                                     <li class="ISetting">
                                        Profile
                                    </li>
                                    <li class="ISetting">
                                        Order
                                    </li>
                                    <li class="ISetting">
                                        Change Password
                                    </li>
                                    <li class="ISetting">
                                        Log out
                                    </li>
                                </ul>
                            </div>
                            <!-- <form action="/logout" method="POST" style="display: inline;">
                                <button type="submit" class="blur cItem"
                                    style="background: none; border: none; color: inherit; cursor: pointer; font: inherit; padding: 0;">Logout</button>
                            </form> -->
                        </li>
                        <% } else { %>
                            <li class="normal "><a href="/login" class="blur cItem">Login</a></li>
                            <% } %>
                                <li class="normal "><a href="/contact" class="blur cItem">Contact</a></li>
                                <li class="normal "><a href="/about" class="blur cItem">About</a></li>
                                <li class="normal "><a href="/blog" class="blur cItem">Blog</a></li>
                </ul>
            </div>

        </div>

    </div>

    <%- body %>
        <!-- Content from each page will be injected here -->
    <div class="footer">
            <div class="footer--top">
                <div class="grid">
                    <div class="footer--top-content">
                        <span style="font-size: 20px; font-family: lato, sans-serif; font-weight: 400; color: #fff; margin-right: 50px;">Join our mailing list</span>
                        <span style="font-size: 14px; font-family: lato, sans-serif; font-weight: 400; color: #fff; margin-right: 50px;">Get in the Grind with Our Latest News, Special Offers and Coupons!</span>
                        <div class="footer--top--box-email">
                            <input type="text" placeholder="Email Address">
                            <div class="footer--top--box-email--button">SIGN UP</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer--bottom">
                <div class="grid">
                    <div class="footer--bottom-menu">
                        <div class="footer--bottom-menu--item">
                            <h1 class="footer--bottom-menu--item--header">Coffees by Region</h1>
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link">African & Arabian Coffee</a>
                            </li>
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link">Caribbean Coffee</a>
                            </li>
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link">Central American Coffee</a>
                            </li>
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link">Hawaiian Coffee</a>
                            </li>
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link">Indian Coffee</a>
                            </li>
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link">Indonesian Coffee</a>
    
                            </li>
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link">South American Coffee</a>
                            </li>
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link">Micro-Lot Coffee</a>
                            </li>
                        </div>
                        <div class="footer--bottom-menu--item">
                            <h1 class="footer--bottom-menu--item--header">Popular Pages</h1>
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link">Coffee Roast Profile</a>
                            </li>
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link">Jamaican Coffee</a>
                            </li>
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link">Exotic Coffee</a>
                            </li>
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link">Coffee Sampler</a>
                            </li>
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link">Flavored Coffee by Profile</a>
                            </li>
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link">Shop by Brands</a>
                            </li>
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link">Shop by Categories</a>
                            </li>   
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link">Promotions</a>
                            </li>    
                        </div>
                        <div class="footer--bottom-menu--item">
                            <h1 class="footer--bottom-menu--item--header">Loose Leaf Tea</h1>
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link">Black Tea</a>                           
                            </li>
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link">Green Tea</a>
                            </li>
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link">White Tea</a>
                            </li>
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link">Oolong Tea</a>   
                            </li>
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link">Earl Grey Tea</a>  
                            </li>
                            <li class="footer--bottom-menu--item--content"> 
                                <a href="" class="footer--bottom-menu--item--content-link">Japanese Tea</a>   
                            </li>
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link">Decaf Tea</a>   
                            </li>
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link">Herbal Tea</a>     
                            </li>
                        </div>
                        <div class="footer--bottom-menu--item">
                            <h1 class="footer--bottom-menu--item--header">Help Counter</h1>
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link">Quick Order</a>
                            </li>
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link">Coffee Knowledge</a>
                            </li>
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link">Sign In or Register</a>
                            </li>
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link">My Order</a>
                            </li>
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link">FAQs</a>
                            </li>
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link">Shipping Policy</a>
                            </li>
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link">Returns</a>
                            </li>
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link">Site Reviews</a>
                            </li>
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link">Privacy Policy</a>
                            </li>
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link">Fundraising</a>
                            </li>
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link">Corporate Gifts</a>
                            </li>
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link">Rewards Program</a>
                            </li>
                        </div>
                        <div class="footer--bottom-menu--item">
                            <h1 class="footer--bottom-menu--item--header">FOLLOW US</h1>
                            <li class="footer--bottom-menu--item--content">
                                <a href="" class="footer--bottom-menu--item--content-link" style="font-size: 40px;"><i class="fa-brands fa-facebook"></i></a>
                            </li>
                        </div>
                    </div>
                    <h1 style="font-size: 14px; color:#fff; padding-bottom: 40px;">Copyright © 2024 CoffeeAM . All Rights Reserved.</h1>
                </div>
            </div>
    </div>
    <div class="">
        <div class="modal">
            <div class="modal__overlay">
    
            </div>
            <div class="modal__body"> 
                <!-- Edit Name -->
                 <div class="boxEditName">
                    <div class="headerBoxEditName">
                        <h1>Edit profile</h1>
                        <span class="closeModal">X</span>
                    </div>
                    <div class="boxForm">
                        <div class="boxFormName">
                            <input type="text" placeholder="First name" style="margin-right: 10px;">
                            <input type="text" placeholder="Last name">
                        </div>
                        <div class="boxFormEmail">
                            <span style="display: block; color:rgb(132,132,132);">Email</span>
                            <span style="color:rgb(132,132,132);">com2109nhanle@gmail.com</span>
                        </div>
                        <p class="note">Email used for login can't be changed</p>
                        <div class="buttonBox">
                            <span style="color: #3B73B6; text-decoration: underline; font-size: 14px; margin-right: 10px; cursor: pointer;" class="cancelModal">Cancel</span>
                            <button style="padding: 14px; background-color: rgb(23, 115, 176); border-radius: 5px; border: none; outline: none; color: #fff; cursor: pointer;">Save</button>
                        </div>
                    </div>
                 </div>
                 <!-- Add address -->
                 <div class="boxAddAddress">
                    <div class="headerBoxEditName">
                        <h1>Add address</h1>
                        <span class="closeModalAddAddress">X</span>
                    </div>
                    <div class="boxForm">
                        <div class="formCheckBox">
                            <input type="checkbox">
                            <label for="">This is my default address</label>
                        </div>
                        <div class="boxFormName">
                            <input type="text" placeholder="First name" style="margin-right: 10px;">
                            <input type="text" placeholder="Last name">
                        </div>
                        <div class="form">
                            <input type="text" placeholder="Company">
                        </div>
                        <div class="form">
                            <input type="text" placeholder="Address">
                        </div>
                        <div class="form">
                            <input type="text" placeholder="Apartment">
                        </div>
                        <div class="form">
                            <input type="text" placeholder="Phone">
                        </div>
                        <div class="buttonBox">
                            <span style="color: #3B73B6; text-decoration: underline; font-size: 14px; margin-right: 10px; cursor: pointer;" class="cancelModalAddAddress">Cancel</span>
                            <button style="padding: 14px; background-color: rgb(23, 115, 176); border-radius: 5px; border: none; outline: none; color: #fff; cursor: pointer;">Save</button>
                        </div>
                    </div>
                 </div>
                 <!-- Edit address -->
                 <div class="boxEditAddress">
                    <div class="headerBoxEditName">
                        <h1>Add address</h1>
                        <span class="closeModalEditAddress">X</span>
                    </div>
                    <div class="boxForm">
                        <div class="formCheckBox">
                            <input type="checkbox">
                            <label for="">This is my default address</label>
                        </div>
                        <div class="boxFormName">
                            <input type="text" placeholder="First name" style="margin-right: 10px;">
                            <input type="text" placeholder="Last name">
                        </div>
                        <div class="form">
                            <input type="text" placeholder="Company">
                        </div>
                        <div class="form">
                            <input type="text" placeholder="Address">
                        </div>
                        <div class="form">
                            <input type="text" placeholder="Apartment">
                        </div>
                        <div class="form">
                            <input type="text" placeholder="Phone">
                        </div>
                        <div style="display: flex; align-items: center;">
                            <span style="color: rgb(221, 29, 29); cursor: pointer;">Delete</span>
                            <div class="buttonBox">
                                <span style="color: #3B73B6; text-decoration: underline; font-size: 14px; margin-right: 10px; cursor: pointer;" class="cancelModalEditAddress">Cancel</span>
                                <button style="padding: 14px; background-color: rgb(23, 115, 176); border-radius: 5px; border: none; outline: none; color: #fff; cursor: pointer;">Save</button>
                            </div>
                        </div>
                        
                    </div>
                 </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/homepage.js"></script>
<script src="/js/profile.js"></script>
</html>