<div class="container">
    <div class="grid">
        <div class="linkNavigation">
            <a href="/" class="linkNavigation-a cate red">Home</a>
            <span class="linkNavigation-span">></span>
            <span class="linkNavigation-span">About</span>
        </div>
        <h1 class="about-header">Contact</h1>
        <div class="contact-box">
            <h3 class="contact-box--header">Welcome to CoffeeAM: A Pioneering Spirit in Gourmet Coffee</h3>
            <p class="contact-box--para">CoffeeAM, a name synonymous with excellence in the world of gourmet coffee, 
                has a rich history that dates back to 1993. Originally established as a gourmet 
                coffee shop in the vibrant neighborhood of Buckhead, the company took a bold step 
                into the digital world in 1998 when it was purchased and launched online by Brian J 
                Lunsford and his wife Maranda.</p>
        </div>
        <div class="contact-box">
            <h3 class="contact-box--header">Our Heritage</h3>
            <p class="contact-box--para">As the first online coffee roastery, CoffeeAM set a precedent in the industry. We were 
                among the original advertisers on Google for coffee, demonstrating our commitment to innovation 
                and our foresight in embracing the potential of the internet. Our journey from a local coffee shop 
                to a leading online retailer is a testament to our dedication to quality and our passion for sharing 
                the finest coffee with the world.</p>
        </div>
        <div class="contact-box">
            <h3 class="contact-box--header">Our Commitment</h3>
            <p class="contact-box--para">At CoffeeAM, we pride ourselves on our impeccable reputation for quality. Every bean we roast and every 
                blend we create is a reflection of our unwavering commitment to excellence. We believe that a great cup 
                of coffee is not just a drink, but an experience, and we are dedicated to ensuring that every sip is a 
                memorable one.</p>
            <p class="contact-box--para">Join us in celebrating the rich history and exciting future of CoffeeAM, as we continue to honor the pioneering 
                spirit of Brian J Lunsford and his wife Maranda and our legacy as a trailblazer in the world of gourmet coffee.
            </p>
        </div>
        <img src="/img/about1.png" alt="" class="contact-img">
        <div class="contact-box1">
            <div class="certifications-content">
                <h3 class="certifications-header">Certifications</h3>
                <div class="Certified-box">
                    <p class="Certified-box-para">
                        A cup of coffee is more than just a caffeine jolt; it is an experience that should be savored one sip at a time. 
                    This is why we are dedicated to providing our customers with only the best available.
                    </p>
                    <ul class="Certified-box-list">
                        <li class="Certified-box-item">
                            <img src="/img/about3.jpg" alt="">
                            <div class="certified-content">
                                <h4>USDA National Organic Program</h4>
                                <p>CoffeeAM is a certified Organic Coffee Handler and Processor by the Georgia Crop Improvement Association 
                                    Organic Certification Program.</p>
                            </div>
                        </li>
                        <li class="Certified-box-item">
                            <img src="/img/about4.jpg" alt="">
                            <div class="certified-content">
                                <h4>Fair-Trade Certified</h4>
                                <p>CoffeeAM carries a number of Fair-Trade Coffees from farmers in developing countries around the world.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <img src="/img/about2.png" alt="" style="height: 500px; object-fit: cover; ">
        </div>
    </div>
</div>