<div class="container">
    <div class="grid">
        <div class="linkNavigation">
            <a href="/" class="cate red">Home</a>
            <span>></span>
            <span>Blog</span>
        </div>
        <h1 class="blog-header">BLOG</h1>
        <div class="blog-box">
            <div class="blog-box-item">
                <img src="/img/blog1.png" alt="" class="blog-box-item-blog--img">
                <h2 class="blog-box-item-blog--header">Caffeine Content in Tea</h2>
                <p class="blog-box-item-blog--discription">Have you ever wondered how much caffeine is in that cup of tea? 
                    Is there really a higher caffeine content in coffee? Let's find out! The Basics of Caffeine in 
                    Tea The amount of caffeine in your tea depends on...</p>
                <a class="blog-box-item-blog--link">Read now ></a>
                <div class="blog-box-item-blog--time">
                    <span class="blog-vertical">January 16, 2023</span>
                    <span>Colleen Callahan</span>
                </div>
            </div>
            <div class="blog-box-item">
                <img src="/img/blog2.png" alt="" class="blog-box-item-blog--img">
                <h2 class="blog-box-item-blog--header">Caffeine Content in Tea</h2>
                <p class="blog-box-item-blog--discription">Have you ever wondered how much caffeine is in that cup of tea? 
                    Is there really a higher caffeine content in coffee? Let's find out! The Basics of Caffeine in 
                    Tea The amount of caffeine in your tea depends on...</p>
                <a class="blog-box-item-blog--link">Read now ></a>
                <div class="blog-box-item-blog--time">
                    <span class="blog-vertical">January 16, 2023</span>
                    <span>Colleen Callahan</span>
                </div>
            </div>
            <div class="blog-box-item">
                <img src="/img/blog3.png" alt="" class="blog-box-item-blog--img">
                <h2 class="blog-box-item-blog--header">Caffeine Content in Tea</h2>
                <p class="blog-box-item-blog--discription">Have you ever wondered how much caffeine is in that cup of tea? 
                    Is there really a higher caffeine content in coffee? Let's find out! The Basics of Caffeine in 
                    Tea The amount of caffeine in your tea depends on...</p>
                <a class="blog-box-item-blog--link">Read now ></a>
                <div class="blog-box-item-blog--time">
                    <span class="blog-vertical">January 16, 2023</span>
                    <span>Colleen Callahan</span>
                </div>
            </div>
            <div class="blog-box-item">
                <img src="/img/blog1.png" alt="" class="blog-box-item-blog--img">
                <h2 class="blog-box-item-blog--header">Caffeine Content in Tea</h2>
                <p class="blog-box-item-blog--discription">Have you ever wondered how much caffeine is in that cup of tea? 
                    Is there really a higher caffeine content in coffee? Let's find out! The Basics of Caffeine in 
                    Tea The amount of caffeine in your tea depends on...</p>
                <a class="blog-box-item-blog--link">Read now ></a>
                <div class="blog-box-item-blog--time">
                    <span class="blog-vertical">January 16, 2023</span>
                    <span>Colleen Callahan</span>
                </div>
            </div>
            <div class="blog-box-item">
                <img src="/img/blog2.png" alt="" class="blog-box-item-blog--img">
                <h2 class="blog-box-item-blog--header">Caffeine Content in Tea</h2>
                <p class="blog-box-item-blog--discription">Have you ever wondered how much caffeine is in that cup of tea? 
                    Is there really a higher caffeine content in coffee? Let's find out! The Basics of Caffeine in 
                    Tea The amount of caffeine in your tea depends on...</p>
                <a class="blog-box-item-blog--link">Read now ></a>
                <div class="blog-box-item-blog--time">
                    <span class="blog-vertical">January 16, 2023</span>
                    <span>Colleen Callahan</span>
                </div>
            </div>
            <div class="blog-box-item">
                <img src="/img/blog3.png" alt="" class="blog-box-item-blog--img">
                <h2 class="blog-box-item-blog--header">Caffeine Content in Tea</h2>
                <p class="blog-box-item-blog--discription">Have you ever wondered how much caffeine is in that cup of tea? 
                    Is there really a higher caffeine content in coffee? Let's find out! The Basics of Caffeine in 
                    Tea The amount of caffeine in your tea depends on...</p>
                <a class="blog-box-item-blog--link">Read now ></a>
                <div class="blog-box-item-blog--time">
                    <span class="blog-vertical">January 16, 2023</span>
                    <span>Colleen Callahan</span>
                </div>
            </div>
            <div class="blog-box-item">
                <img src="/img/blog1.png" alt="" class="blog-box-item-blog--img">
                <h2 class="blog-box-item-blog--header">Caffeine Content in Tea</h2>
                <p class="blog-box-item-blog--discription">Have you ever wondered how much caffeine is in that cup of tea? 
                    Is there really a higher caffeine content in coffee? Let's find out! The Basics of Caffeine in 
                    Tea The amount of caffeine in your tea depends on...</p>
                <a class="blog-box-item-blog--link">Read now ></a>
                <div class="blog-box-item-blog--time">
                    <span class="blog-vertical">January 16, 2023</span>
                    <span>Colleen Callahan</span>
                </div>
            </div>
            <div class="blog-box-item">
                <img src="/img/blog2.png" alt="" class="blog-box-item-blog--img">
                <h2 class="blog-box-item-blog--header">Caffeine Content in Tea</h2>
                <p class="blog-box-item-blog--discription">Have you ever wondered how much caffeine is in that cup of tea? 
                    Is there really a higher caffeine content in coffee? Let's find out! The Basics of Caffeine in 
                    Tea The amount of caffeine in your tea depends on...</p>
                <a class="blog-box-item-blog--link">Read now ></a>
                <div class="blog-box-item-blog--time">
                    <span class="blog-vertical">January 16, 2023</span>
                    <span>Colleen Callahan</span>
                </div>
            </div>
            <div class="blog-box-item">
                <img src="/img/blog3.png" alt="" class="blog-box-item-blog--img">
                <h2 class="blog-box-item-blog--header">Caffeine Content in Tea</h2>
                <p class="blog-box-item-blog--discription">Have you ever wondered how much caffeine is in that cup of tea? 
                    Is there really a higher caffeine content in coffee? Let's find out! The Basics of Caffeine in 
                    Tea The amount of caffeine in your tea depends on...</p>
                <a class="blog-box-item-blog--link">Read now ></a>
                <div class="blog-box-item-blog--time">
                    <span class="blog-vertical">January 16, 2023</span>
                    <span>Colleen Callahan</span>
                </div>
            </div>
        </div>
    </div>
</div>