<div class="container">
    <div class="grid">
        <div class="subtotal">
            <h1>Your Cart</h1>
            <div class="boxSub">
                <div class="texSub">
                    <span>Subtotal</span>
                    <span class="costSub">$13.00</span>
                </div>
                <button>
                    <i class="fa-solid fa-cart-shopping"></i>
                    CHECKOUT
                </button>
            </div>
        </div>
        <div class="boxListCart">
            <ul class="listCart">
                <li class="itemCart">
                    <div class="boxInfoProductC">
                        <img src="product.png" alt="" width="120px" height="120px">
                        <div class="InfoProductC">
                            <h3>Costa Rica Reserve Coffee</h3>
                            <span><strong>Reg/Decaf:</strong> Regular</span>
                            <span><strong>Coffee Grind:</strong> Whole Bean</span>
                            <span><strong>Bag Size:</strong> 1LB</span>
                            <span><strong>Price:</strong> $13.00</span>
                            <span><strong>SKU:</strong> COSRICRESEWHOLE BEAN</span>
                        </div>
                    </div>
                    <div class="boxInfoCostC">
                        <div class="BoxQuantity">
                            <span>Quantity</span>
                            <span class="qtt">1</span>
                        </div>
                        <span class="costC">$13.00</span>
                        <span class="x">x</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="checkout">
            <div class="boxInfoCheckout">
                <span>Subtotal</span>
                <span class="InfoCost">$13.00</span>
            </div>
            <button>
                <i class="fa-solid fa-cart-shopping"></i> CHECKOUT
            </button>
            <a href="" style="display: block; text-decoration: none; color: #A7661B; cursor: pointer; font-size: 15px; text-align: center; margin-top: 10px;">Continue shopping ></a>
        </div>
    </div>
</div>