<div class="container">
    <div class="grid">
        <div class="linkNavigation">
            <a class="linkNavigation-a" href="/" class="cate red">Home</a>
            <span class="linkNavigation-span">></span>
            <span class="linkNavigation-span">Contact</span>
        </div>
        <h1 class="contact-header">Contact</h1>
        <div class="contact-box">
            <div class="contact-box-item">
                <h4>Thank you for visiting us at CoffeeAM.com!</h4>
                <p>If you need to get in touch with any department at CoffeeAM, feel free to contact us.</p>
                <img src="/img/contact.png" alt="">
                <p>If you call after our hours of operation, you're more than welcome to leave a voice message or 
                    send us an email at anytime. We will return your calls and voicemails within 24-48 hours. We'll 
                    be more than happy to address your concerns, and we won't be happy unless you are.</p>
            </div>
            <div class="contact-box-item">
                <div class="box-form-contact">
                    <input type="text" placeholder="Name">
                    <input type="text" placeholder="Email">
                </div>
                <div class="box-form-contact">
                    <input type="text" placeholder="Phone number">
                </div>
                <div class="box-form-contact">
                    <input type="text" placeholder="Message">
                </div>
                <button class="box-form-button">SEND</button>
            </div>
        </div>
    </div>
</div>