<div class="containerP">
    <div class="grid">
        <div class="AHomepage-box-profile AHomepage-box-color-profile">
            <div class="box-content-profile">
                <h1 class="box-content--header-profile">CHANGE PASSWORD</h1>
                <div class="box-content-changePass-form-profile">
                    <input type="text-profile">
                    <h3 class="box-content-changePass-form--header-profile">New password</h3>
                </div>
                <div class="box-content-changePass-form-profile">
                    <input type="text-profile">
                    <h3 class="box-content-changePass-form--header-profile">Re-enter new password</h3>
                </div>
                <div style="text-align: center;">
                    <button class="box-content-changePass-button-change-profile">CHANGE PASSWORD</button>
                </div>
            </div>              
        </div>
    </div>
</div>