<div class="containerP">
    <div class="grid">
        <h1 style="color:#1773B0">Đơn hàng AM Coffee</h1>
        <div class="boxIndoCustomer">
            <h3 class="boxIndoCustomer--header">
                Order Info:
            </h3>
            <span>Name: Le Phan Thanh Nhan</span>
            <span>Company: None</span>
            <span>Address: Ho Chi Minh City</span>
            <span>Apartment: C3-13</span>
            <span>Phone: 123456789</span>
            <span>Ngày giao dự kiến: 2025-01-03</span>
        </div>
        <div class="boxListCart-orderItem">
            <ul class="listCart-orderItem">
                <li class="itemCart-orderItem">
                    <div class="boxInfoProductC-orderItem">
                        <img src="product.png" alt="" width="120px" height="120px">
                        <div class="InfoProductC-orderItem">
                            <h3>Costa Rica Reserve Coffee</h3>
                            <span><strong>Reg/Decaf:</strong> Regular</span>
                            <span><strong>Coffee Grind:</strong> Whole Bean</span>
                            <span><strong>Bag Size:</strong> 1LB</span>
                            <span><strong>Price:</strong> $13.00</span>
                            <span><strong>SKU:</strong> COSRICRESEWHOLE BEAN</span>
                        </div>
                    </div>
                    <div class="boxInfoCostC-orderItem">
                        <div class="BoxQuantity-orderItem">
                            <span>Quantity</span>
                            <span class="qtt-orderItem">1</span>
                        </div>
                        <span class="costC-orderItem">$13.00</span>
                    </div>
                </li>
                <li class="itemCart-orderItem">
                    <div class="boxInfoProductC-orderItem">
                        <img src="product.png" alt="" width="120px" height="120px">
                        <div class="InfoProductC-orderItem">
                            <h3>Costa Rica Reserve Coffee</h3>
                            <span><strong>Reg/Decaf:</strong> Regular</span>
                            <span><strong>Coffee Grind:</strong> Whole Bean</span>
                            <span><strong>Bag Size:</strong> 1LB</span>
                            <span><strong>Price:</strong> $13.00</span>
                            <span><strong>SKU:</strong> COSRICRESEWHOLE BEAN</span>
                        </div>
                    </div>
                    <div class="boxInfoCostC-orderItem">
                        <div class="BoxQuantity-orderItem">
                            <span>Quantity</span>
                            <span class="qtt-orderItem">1</span>
                        </div>
                        <span class="costC-orderItem">$13.00</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="checkout-orderItem">
            <div class="boxInfoCheckout-orderItem">
                <span>Subtotal</span>
                <span class="InfoCost-orderItem">$13.00</span>
            </div>
            <button>
                <i class="fa-solid fa-cart-shopping"></i> CANCEL
            </button>
            <a href="" style="display: block; text-decoration: none; color: #A7661B; cursor: pointer; font-size: 15px; text-align: center; margin-top: 10px;">Return ></a>
        </div>
    </div>
</div>