<div class="containerP">
    <div class="BoxInfoName">
        <div class="infoName">
            <span>name</span> <!-- SỬA ĐƯỢC-->
            <i class="fa-solid fa-pencil"></i>
        </div>
        <div class="infoGmail">
            <span>Gmail</span>
            <span>com2109nhanle@gmail.com</span> <!--GMAIL KHÔNG SỬA ĐƯỢC-->
        </div>
    </div>
    <div class="boxInfoAddress">
        <div class="infoAddress">
            <span>Address</span> 
            <span>+ Add</span>
        </div>
        <ul class="listAddress">
            <li class="itemAddress">
                <span>Name: Le Phan Thanh Nhan</span>
                <span>Company: None</span>
                <span>Address: Ho Chi Minh City</span>
                <span>Apartment: C3-13</span>
                <span>Phone: 123456789</span>
                <i class="fa-solid fa-pencil"></i>
            </li>
        </ul>
    </div>
</div>