<div class="containerP">
    <div class="grid">
        <h1>Profile</h1>
        <div class="BoxInfoName">
            <div class="infoName">
                <span>name</span> <!-- SỬA ĐƯỢC-->
                <i class="fa-solid fa-pencil editName"></i>
            </div>
            <div class="infoGmail">
                <span style="display: block; color:#707070;margin-bottom: 5px">Email</span>
                <span>com2109nhanle@gmail.com</span> <!--GMAIL KHÔNG SỬA ĐƯỢC-->
            </div>
        </div>
        <div class="boxInfoAddress">
            <div class="infoAddress">
                <span>Addresses</span> 
                <span style="color:rgb(23, 115, 176); cursor: pointer;" class="addAddress">+  Add</span>
            </div>
            <ul class="listAddress">
                <li class="itemAddress">
                    <span style="color:#707070;">Defaut Address</span>
                    <span>Name: Le Phan Thanh Nhan</span>
                    <span>Company: None</span>
                    <span>Address: Ho Chi Minh City</span>
                    <span>Apartment: C3-13</span>
                    <span>Phone: 123456789</span>
                    <i class="fa-solid fa-pencil editAddress"></i>
                </li>
            </ul>
        </div>
    </div>