<div class="about_section layout_padding">
    <div class="container">
       <div class="row justify-content-center">
          <div class="col-md-6">
             <div class="register_box">
                <h1 class="register_title text-center">REGISTER</h1>
                <form class="register_form" method="post">
                   <div class="form-group">
                      <input type="text" class="form-control custom_input" name="name" id="name" placeholder="Full Name" required>
                   </div>
                   <div class="form-group">
                      <input type="email" class="form-control custom_input" name="email" id="email" placeholder="Email" required>
                   </div>
                   <div class="form-group">
                      <input type="password" class="form-control custom_input" name="password" id="password" placeholder="Password" required>
                   </div>
                   <div class="form-group">
                      <input type="password" class="form-control custom_input" name="passwordAgain" id="passwordAgain" placeholder="Confirm Password" required>
                   </div>
                   <div class="register_btn_container text-center">
                      <button type="submit" class="register_btn mt-3" style="width: 125px; height: 40px;">Register Now</button>
                   </div>
                   <div class="login_link_container text-center">
                      <p>Already have an account? <a href="login.html" class="login_link">Login here</a></p>
                   </div>
                </form>
             </div>
          </div>
       </div>
    </div>
