<div class="container">
    <div class="grid">
        <div class="linkNavigation">
            <a href="/" class="cate red">Home</a>
            <span>></span>
            <a href="/" class="cate">Black tea</a>
        </div>
        <div class="intro">
            <h1>Black Tea</h1>
            <p>Black tea is by far the most consumed tea in the Western world and it consists of 90% of the tea trade volume. 
                The most common black teas are found in places like China, where the methods for making black tea originated. 
                Black Tea is also grown in India which supplies a significant portion of black tea, and in Sri Lanka, the world's leader in tea production.
            <br>
            <br>
            Steep your gourmet tea at the water's third boil, or when the water is erupting with bubbles. This ensures that 
            the full flavor of each black tea will be released. Steep for 3-5 minutes to your desired strength. Although you 
            will notice a color change, this does not always indicate the flavor. We recommend taste testing during steeping to 
            generate your desired consistency and flavor. These premium black teas come in many different, loose-leaf blends. 
            Remember, you'll need a tea infuser for single cups!
            </p>
        </div>

        <div class="filter">
            <span class="sp1">Sort by</span>
            <div class="dv1">
                <span>Best seling</span>
                <span>*</span>
            </div>
        </div>
        <div class="boxPro">
            <ul class="productList">
                <li class="product">
                    <img src="/public/img/product.png" width="230" height="230" alt="" class="image">
                    <span class="cost">from $9.95</span>
                    <div class="eval">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        94 reviews
                    </div>
                    <span class="name">Earl Grey Tea</span>
                </li>
                <li class="product">
                    <img src="/public/img/product.png" width="230" height="230" alt="" class="image">
                    <span class="cost">from $9.95</span>
                    <div class="eval">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        94 reviews
                    </div>
                    <span class="name">Earl Grey Tea</span>
                </li>
                <li class="product">
                    <img src="/public/img/product.png" width="230" height="230" alt="" class="image">
                    <span class="cost">from $9.95</span>
                    <div class="eval">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        94 reviews
                    </div>
                    <span class="name">Earl Grey Tea</span>
                </li>
                <li class="product">
                    <img src="/public/img/product.png" width="230" height="230" alt="" class="image">
                    <span class="cost">from $9.95</span>
                    <div class="eval">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        94 reviews
                    </div>
                    <span class="name">Earl Grey Tea</span>
                </li>
                <li class="product">
                    <img src="/public/img/product.png" width="230" height="230" alt="" class="image">
                    <span class="cost">from $9.95</span>
                    <div class="eval">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        94 reviews
                    </div>
                    <span class="name">Earl Grey Tea</span>
                </li>
                <li class="product">
                    <img src="/public/img/product.png" width="230" height="230" alt="" class="image">
                    <span class="cost">from $9.95</span>
                    <div class="eval">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        94 reviews
                    </div>
                    <span class="name">Earl Grey Tea</span>
                </li>
                <li class="product">
                    <img src="/public/img/product.png" width="230" height="230" alt="" class="image">
                    <span class="cost">from $9.95</span>
                    <div class="eval">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        94 reviews
                    </div>
                    <span class="name">Earl Grey Tea</span>
                </li>
                <li class="product">
                    <img src="/public/img/product.png" width="230" height="230" alt="" class="image">
                    <span class="cost">from $9.95</span>
                    <div class="eval">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        94 reviews
                    </div>
                    <span class="name">Earl Grey Tea</span>
                </li>
                <li class="product">
                    <img src="/public/img/product.png" width="230" height="230" alt="" class="image">
                    <span class="cost">from $9.95</span>
                    <div class="eval">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        94 reviews
                    </div>
                    <span class="name">Earl Grey Tea</span>
                </li>
                <li class="product">
                    <img src="/public/img/product.png" width="230" height="230" alt="" class="image">
                    <span class="cost">from $9.95</span>
                    <div class="eval">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        94 reviews
                    </div>
                    <span class="name">Earl Grey Tea</span>
                </li>
                <li class="product">
                    <img src="/public/img/product.png" width="230" height="230" alt="" class="image">
                    <span class="cost">from $9.95</span>
                    <div class="eval">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        94 reviews
                    </div>
                    <span class="name">Earl Grey Tea</span>
                </li>
                <li class="product">
                    <img src="/public/img/product.png" width="230" height="230" alt="" class="image">
                    <span class="cost">from $9.95</span>
                    <div class="eval">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        94 reviews
                    </div>
                    <span class="name">Earl Grey Tea</span>
                </li>
                <li class="product">
                    <img src="/public/img/product.png" width="230" height="230" alt="" class="image">
                    <span class="cost">from $9.95</span>
                    <div class="eval">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        94 reviews
                    </div>
                    <span class="name">Earl Grey Tea</span>
                </li>
                <li class="product">
                    <img src="/public/img/product.png" width="230" height="230" alt="" class="image">
                    <span class="cost">from $9.95</span>
                    <div class="eval">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        94 reviews
                    </div>
                    <span class="name">Earl Grey Tea</span>
                </li>
                <li class="product">
                    <img src="/public/img/product.png" width="230" height="230" alt="" class="image">
                    <span class="cost">from $9.95</span>
                    <div class="eval">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        94 reviews
                    </div>
                    <span class="name">Earl Grey Tea</span>
                </li>
                <li class="product">
                    <img src="/public/img/product.png" width="230" height="230" alt="" class="image">
                    <span class="cost">from $9.95</span>
                    <div class="eval">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        94 reviews
                    </div>
                    <span class="name">Earl Grey Tea</span>
                </li>
            </ul>
        </div>
    </div>
    
</div>