.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.linkNavigation {
    padding: 25px 0 25px;
}
.linkNavigation span,.linkNavigation a {
    margin-right: 5px;
    text-decoration: none;
}
.blog-header {
    font-size: 32px;
    margin: 22px 0;
    text-align: center;
    color: #70604d;
}
.blog-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    position: relative;
    margin-bottom: 40px;
}
.blog-box-item {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 calc(25% - 20px);
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-family: Lato, sans-serif;
    position: relative;
}
.blog-box-item--image {
    flex-grow: 1; /* Cho phép ảnh giãn ra chiếm không gian trống */
    width: 100%; /* Chiều rộng chiếm toàn bộ container */
    height: auto; /* Tự động điều chỉnh chiều cao theo tỷ lệ gốc */
    object-fit: cover; /* Hoặc contain để phù hợp khung */
    cursor: pointer;
}
.blog-box-item--name {
    color: #2f2f2f;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
}
.blog-box-item--name:hover {
    color: #2f2f2fb1;
}
.blog-box-item--eval {
    font-size: 14px;
    margin-bottom: 10px;
}
.blog-box-item--cost {
    font-size: 20px;
    color: #A7661B;
}
.blog-box-item--last:hover {
    opacity: 0.8;
}
.blog-box-block {
    padding: 60px 20px;
    box-sizing: border-box;
    color: #fff;
}
.blog-box-block--header {
    font-size: 26px;
    font-family: Domine, serif;
    max-width: 300px;
    margin: 0;
}
.blog-box-block--text {
    margin: 10px 0;
}
.blog-box-block--button{
    
    background-color: rgb(91, 125, 51);
    border-radius: 3px;
}
.blog-box-block--button a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}
.blog-box-block--button:hover {
    background-color: rgba(90, 125, 51, 0.525);
}
.blog-box-block--button--positon1 {
    display: block;
    margin-top: 40px;
}
.blog-box-block--button--positon2 {
    display: block;
    margin-top: 10px;
}
.blog-box-item-blog--img {
    flex-grow: 1; /* Cho phép ảnh giãn ra chiếm không gian trống */
    width: 100%; /* Chiều rộng chiếm toàn bộ container */
    height: auto; /* Tự động điều chỉnh chiều cao theo tỷ lệ gốc */
    object-fit: cover;/* Hoặc contain để phù hợp khung */
}
.blog-box-item-blog--header {
    text-align: center;
    font-size: 20px;
    color: #70604D;
    font-family: Domine, serif;
    margin: 20px 0;
}
.blog-box-item-blog--discription {
    margin: 0 0 60px 0;
    font-size: 14px;
    text-align: center;
    font-family: Lato, sans-serif;
    line-height: 22.75px;
    color:rgb(47, 47, 47);
}
.blog-box-item-blog--link {
    text-decoration: none;
    font-size: 14px;
    font-family: Lato, sans-serif;
    line-height: 22.75px;
    color:#A7661B;
    cursor: pointer;
    text-align: center;
    position: absolute;
    bottom: 50px;
    right: calc(50% - 40px);
}
.blog-box-item-blog--link:hover {
    color: #8b561a;
}
.blog-box-item-blog--time {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    color: #70604D;
    position: relative;
}
.blog-vertical::before {
    position: absolute;
    display: block;
    content:"";
    height: 16px;
    width: 1px;
    background-color: #2f2f2f;
    right: 50%;
    bottom: 1px;
}
.blog-blog--link {
    text-decoration: none;
    font-size: 14px;
    font-family: Lato, sans-serif;
    line-height: 22.75px;
    color:#A7661B;
    cursor: pointer;
    display: block;
    text-align: center;
    position: relative;
    top: -30px;
}
.blog-blog--link:hover {
    color: #8b561a;
}
