.linkNavigation {
    padding: 25px 0 25px;
}
.linkNavigation span,.linkNavigation a {
    margin-right: 5px;
    text-decoration: none;
}

.cate {
    cursor: pointer;
    color: #000;
}
.cate:hover {
    color: #BF6701;
}
.productList {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 4 cột chia đều */
    gap: 10px;
    width: 100%; 
}
.image {
    width: calc(100%);   
    display: block;
    margin-bottom: 10px;
}
.relatedProduct h1 {
    font-size: 18px;
    margin: 40px 0 15px 0;
    color: #70604D;
}
.product {
    display: block;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    box-sizing: border-box; 
    margin-bottom: 10px;
    cursor: pointer;
}
.cost {
    margin-top: 10px;
    color: #B07632;
    font-size: 18px;
}
.eval {
    font-size: 12px;
    margin:5px 0;
}
.name {
    color:#2f2f2f;
    font-size: 14px;
    margin-top: 5px;
}
.eval i {
    color: #FFB829;
   
}
.detailProduct {
    display: flex;
}
.imageSample div {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 4 cột chia đều */
    gap: 5px;
    width: 400px;
}
.imageSample div img:hover {
    cursor: pointer;
}
.infoProduct {
    margin: 0 15px 0 15px;
    width: 500px;
}
.nameP {
    color: #70604D;
    font-size: 28px;
    font-weight: bold;

}
.evalP {
    margin: 5px 0 25px 0;
    font-size: 16px;
    margin:5px 0;
}
.evalP i {
    color: #FFB829;
   
}
.costP {
    display: block;
    margin: 20px 0;
    font-size: 20px;
}
.sku {
    display: block;
    color: #A2684D;
    margin-bottom: 20px;
}
.bold {
    font-weight: bold;
}
.red {
    color: #BF6701;
}
.options  h3 {
    font-size: 14px;
    font-weight: 300;
}
.optionWeight span {
    display: inline-block;
    padding: 6px;
    border: 1px solid #91470B;
    border-radius: 5px;
}
.optionWeight span:hover {
    cursor: pointer;
    background-color: #b07532ba;
}
.boxQuantity {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

}
.boxQuantity button {
    flex: 1;
    margin-left: 20px;
    background-color: #79A35B;
    border: none;
    border-radius: 5px; 
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.quantity {
    width: calc(50% - 20px);
    border: 1px solid #000;
    padding: 6px 10px 6px;
    border-radius: 5px;    
}
.quantity  input {
    width: 100%;
    border: none;
    outline: none;
}