.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.header {
    padding-top: 30px;
    background-color: #F5F2E0;
}
.menuList {
    padding-left: 0;
    list-style: none;
    margin: 0;
    display: flex;
}

.box {
    display: flex;
    justify-content: space-between;
}

.menuList li {
    cursor: pointer;
    font-size: 20px;
    color: #736450;
    margin-right: 10px;
}
.menuList li:last-child {
    margin-right: 0;
}
.menuList li a {
    display: inline-block;
    text-decoration: none;
    color: #736450;
    padding:5px;
}
.highlight:hover{
    color: #fff;
    background-color: #91470B;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.blur:hover  {
    color: #7364506b;
}
.bold {
    font-weight: bold;
}
.normal{
    font-weight: 300;
    font-size: 10px;
}
.logo {
    cursor: pointer;
}

.formSearch {
    display: flex;
    height: 46px;
    position: relative;
    flex: 1;
}

.formSearch input {
    font-size: 14px;
    width: calc(100% - 53px);
    padding: 15px 10px;
    font-weight: 400;
    width: 100%;
    color: #2e2519;
    background-color: #fff;
    outline: none;
    border: 2px solid transparent;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.logo {
    width: 400px;
}
.cart {
    width: 300px;
    position: relative;
}
.cart i {
    position: absolute;
    right: 0;
    font-size: 30px;
    top: -10px;
    cursor: pointer;
    color: #914701;
}

.cart i:hover {
    color: #914701a4;
}
.shopCoffe {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}
.formSearch input:focus {
    border: 1px solid #70604d;

}
.formSearch button {
    background-color: #914701;
    border: 1px solid #914701;
    width: 53px;
    color: #fff;
    cursor: pointer;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.searchIcon {
    position: absolute;
    right: 12px;
    font-size: 23px;
    color: #5B7D33;
    top: 12px;
    cursor: pointer;
}