.register_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;

}
.register_box form {
    width: 540px;
}
.form-group {
    margin-bottom: 24px;
}
.register_title {
    font-size: 24px;
    font-family: Poppins, sans-serif;
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0;
    margin-bottom: 24px;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.register_btn_container {
    text-align: center;
}
.register_btn_container button {
    width: 75px;
    height: 40px;
    cursor: pointer;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.login_link_container {
    text-align: center;
    color: #666666;
}
.login_link {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}
.login_link:hover {
    color: #0056b3;
}